@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    overflow-y: scroll;
}

body.modal-open {
    padding-right: 0 !important;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    background-color: #C0EBA6;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

aside, main, footer {
    background-color: rgba(248, 249, 250);
}

aside, main {
    height: 700px;
    border-radius: 5px;
}

main {
    margin: 5px;
}

aside {
    width: 15%;
    margin: 5px 0 5px 5px;
}

footer {
    height: 200px;
}

div.custom-div {
    border: 1px solid #347928;
    border-radius: 5px;
    margin: 10px;
}