<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="CompanyDto" type="com.ensolution.manager.domain.CompanyDto"/>
        <typeAlias alias="WorkplaceDto" type="com.ensolution.manager.domain.WorkplaceDto"/>
        <typeAlias alias="StackDto" type="com.ensolution.manager.domain.StackDto"/>
        <typeAlias alias="StackInfoDto" type="com.ensolution.manager.domain.StackInfoDto"/>
        <typeAlias alias="PollutantDto" type="com.ensolution.manager.domain.PollutantDto"/>
        <typeAlias alias="StackMeasurementDto" type="com.ensolution.manager.domain.StackMeasurementDto"/>
    </typeAliases>
</configuration>