<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="CompanyDto" type="com.ensolution.manager.domain.company.CompanyDto"/>
        <typeAlias alias="WorkplaceDto" type="com.ensolution.manager.domain.company.WorkplaceDto"/>
        <typeAlias alias="StackDto" type="com.ensolution.manager.domain.stack.StackDto"/>
        <typeAlias alias="StackInfoDto" type="com.ensolution.manager.domain.stack.StackInfoDto"/>
        <typeAlias alias="PollutantDto" type="com.ensolution.manager.domain.pollutant.PollutantDto"/>
        <typeAlias alias="StackMeasurementDto" type="com.ensolution.manager.domain.stack.StackMeasurementDto"/>
        <typeAlias alias="ScheduleDto" type="com.ensolution.manager.domain.plan.ScheduleDto"/>
        <typeAlias alias="ScheduleTableDto" type="com.ensolution.manager.domain.plan.ScheduleTableDto"/>
        <typeAlias alias="HistoryDto" type="com.ensolution.manager.domain.plan.HistoryDto"/>
        <typeAlias alias="TeamDto" type="com.ensolution.manager.domain.plan.TeamDto"/>
    </typeAliases>
</configuration>