<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.manager.repository.ScheduleMapper">
    <select id="select" parameterType="int" resultType="ScheduleDto">
        SELECT schedule_id, team_id, stack_measurement_id, measure_date, is_completed
        FROM schedule
        WHERE schedule_id = #{schedule_id}
    </select>

    <insert id="insert" parameterType="ScheduleDto">
        INSERT INTO schedule
            (team_id, stack_measurement_id, measure_date, is_completed)
        VALUES
            (#{team_id}, #{stack_measurement_id}, #{measure_date}, #{is_completed})
    </insert>

    <update id="update" parameterType="ScheduleDto">
        UPDATE stack_measurement
        SET   is_completed = #{is_completed}
        WHERE schedule_id = #{schedule_id}
    </update>

    <delete id="deleteItems" parameterType="list">
        DELETE FROM schedule
        WHERE schedule_id IN
        <foreach item="schedule_id" collection="list" open="(" separator="," close=")">
            #{schedule_id}
        </foreach>
    </delete>
</mapper>