<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.manager.repository.StackMapper">
    <sql id="selectFromStack">
        SELECT stack.stack_id, stack.workplace_id, workplace.company_id, company.company_name, workplace.workplace_name, stack.stack_name, stack.prevention, stack.reg_date, stack.note from stack
            INNER JOIN workplace ON workplace.workplace_id = stack.workplace_id
            INNER JOIN company ON company.company_id = workplace.company_id
    </sql>

    <select id="count" resultType="int">
        SELECT count(*) FROM stack
    </select>

    <select id="select" parameterType="int" resultType="StackDto">
        <include refid="selectFromStack"/>
        WHERE stack_id = #{stack_id}
        ORDER BY company.company_name
    </select>

    <select id="selectAll" resultType="StackDto">
        <include refid="selectFromStack"/>
        ORDER BY company.company_name, stack.stack_name
    </select>

    <insert id="insert" parameterType="StackDto">
        INSERT INTO stack
            (workplace_id, stack_name, prevention, reg_date, note)
        VALUES
            (#{workplace_id}, #{stack_name}, #{prevention}, #{reg_date}, #{note})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM stack WHERE stack_id = #{stack_id}
    </delete>

    <delete id="deleteItems" parameterType="list">
        DELETE FROM stack
        WHERE stack_id IN
        <foreach item="stack_id" collection="list" open="(" separator="," close=")">
            #{stack_id}
        </foreach>
    </delete>

    <update id="update" parameterType="StackDto">
        UPDATE stack
        SET   stack_name = #{stack_name}
          , prevention = #{prevention}
          , note = #{note}
        WHERE stack_id = #{stack_id}
    </update>
</mapper>