<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.manager.repository.StackMapper">
    <sql id="selectFromStack">
        SELECT s.stack_id, s.workplace_id, w.company_id, c.company_name, w.workplace_name, s.stack_name, s.prevention, s.reg_date, s.note from stack `s`
            INNER JOIN workplace `w` ON w.workplace_id = s.workplace_id
            INNER JOIN company `c` ON c.company_id = w.company_id
    </sql>

    <select id="count" resultType="int">
        SELECT count(*) FROM stack
    </select>

    <select id="select" parameterType="int" resultType="StackDto">
        <include refid="selectFromStack"/>
        WHERE stack_id = #{stack_id}
        ORDER BY c.company_name
    </select>

    <select id="selectAll" resultType="StackDto">
        <include refid="selectFromStack"/>
        ORDER BY c.company_name, s.stack_name
    </select>

    <select id="selectStackOfWorkplace" resultType="StackDto">
        <include refid="selectFromStack"/>
        WHERE s.workplace_id = #{workplace_id}
        ORDER BY s.stack_name
    </select>

    <insert id="insert" parameterType="StackDto">
        INSERT INTO stack
            (workplace_id, stack_name, prevention, reg_date, note)
        VALUES
            (#{workplace_id}, #{stack_name}, #{prevention}, #{reg_date}, #{note})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM stack WHERE stack_id = #{stack_id}
    </delete>

    <delete id="deleteItems" parameterType="list">
        DELETE FROM stack
        WHERE stack_id IN
        <foreach item="stack_id" collection="list" open="(" separator="," close=")">
            #{stack_id}
        </foreach>
    </delete>

    <update id="update" parameterType="StackDto">
        UPDATE stack
        SET   stack_name = #{stack_name}
          , prevention = #{prevention}
          , note = #{note}
        WHERE stack_id = #{stack_id}
    </update>
</mapper>